.andresmarteutviklere__counter {
  color: white;
  margin: 4rem 0;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

.andresmarteutviklere__choices {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
