.finnwilly__imagecontainer {
  background: url(/willy.jpg) no-repeat 100% 0%;
  height: 1226px;
  position: relative;
  width: 1988px;
  max-width: 100%;
  margin: 0 auto;
}

.finnwilly__button {
  height: 60px;
  width: 40px;
  position: absolute;
  top: 90px;
  right: 370px;
  cursor: default;
}

.finnwilly__reveal {
}

.finnwilly__thumbnail {
  display: none;
}

.finnwilly__reveal:hover .finnwilly__thumbnail {
  display: block;
  position: absolute;
  top: 100px;
  left: 50px;
  width: 90px!important;
  height: 90px!important;
  max-width: 90px;
  transform: rotate(165deg);
}